# file: group_vars/libvirt_guests_host.example.com

#
# Inventory group variables for the guest virtual machines
# running on hypervisor host.example.com.
#

#
# Name of the inventory file inside the main repository
#
target_ansible_inventory: staging

#
# Name of the inventory group where to add the new hosts
#
target_ansible_group: libvirt_guests_host.example.com