{# file: roles/ssh_proxy/templates/ssh_config_guests.j2
#}
#
# Each hypervisor serves as an SSH proxy for its guests.
#
Host {{ hostname }}
  Port {{ admin_ssh_port }}
  User {{ admin_username }}
  ForwardAgent yes
  StrictHostKeyChecking no

Host *.{{ hostname }}
  Port {{ admin_ssh_port }}
  User {{ admin_username }}
  ProxyJump {{ hostname }}
  StrictHostKeyChecking no
