# file: zones

#
# DNS zones to be created via the Managed DNS provider API are listed here
# by their default DNS A record IP address. This allows contacting the zone
# default nodes already before DNS is configured for them.
# Give only one default node per zone.
#

[zone_defaults]
203.0.113.1
