HOSTNAME {{ inventory_hostname }}

IMAGE {{ hetzner_rescue_images_path }}/{{ centos_image }}

{% if disks_KiB is defined %}
{% for disk in disks_KiB %}
DRIVE{{ loop.index }} {{ disk.split(':')[0] }}
{% endfor %}
{% endif %}
{% if disks_KiB | length > 1 %}
SWRAID 1
{% endif %}
{% if disks_KiB | length == 2 %}
SWRAIDLEVEL 1
{% elif disks_KiB | length == 3 %}
SWRAIDLEVEL 5
{% elif disks_KiB | length > 3 %}
SWRAIDLEVEL 6
{% endif %}

BOOTLOADER grub

PART /boot ext2      512M
PART lvm   vg_sys    {{ vg_sys_size }}
PART lvm   {{ vg_pool_name }} {{ vg_pool_size }}

LV vg_sys  lv_sys_root   /        ext4   4G
LV vg_sys  lv_sys_swap   swap     swap   8G
LV vg_sys  lv_sys_tmp    /tmp     ext4   5G
LV vg_sys  lv_sys_home   /home    ext4  10G
LV vg_sys  lv_sys_var    /var     ext4  10G
LV vg_sys  lv_sys_vartmp /var/tmp ext4   8G
