# file: host_vars/{{ hostvars[inventory_hostname].hostname | mandatory }}
#
# bootstrap handover timestamp: {{ ansible_date_time.iso8601 }}
# bootstrap default IPv4 address: {{ hostvars[inventory_hostname].ansible_default_ipv4.address }}
# bootstrap default MAC: {{ hostvars[inventory_hostname].ansible_default_ipv4.macaddress }}
# bootstrap OS: {{ hostvars[inventory_hostname]['ansible_distribution'] }} {{ hostvars[inventory_hostname].ansible_distribution_version }} {{ hostvars[inventory_hostname].ansible_distribution_release }}
# bootstrap kernel: {{ hostvars[inventory_hostname].ansible_kernel }}
# bootstrap memory: {{ hostvars[inventory_hostname].ansible_memtotal_mb }} MB total
# bootstrap swap: {{ hostvars[inventory_hostname].ansible_swaptotal_mb }} MB total
# bootstrap processor: {{ hostvars[inventory_hostname].ansible_processor_cores }} cores, {{ hostvars[inventory_hostname].ansible_processor_vcpus }} vCPUs
# bootstrap virtualization: {{ hostvars[inventory_hostname].ansible_virtualization_type }} {{ hostvars[inventory_hostname].ansible_virtualization_role }}
{% for dev, device in hostvars[inventory_hostname].ansible_devices.iteritems() %}
# bootstrap device: {{ dev }} {{ device.size }}
#             host: {{ device.host }}
#            model: {{ device.model }}
{% for part, info in device.partitions.iteritems() %}
#        partition: {{ part }} {{ info.size }}
{% endfor %}{% endfor %}
{% for mount in hostvars[inventory_hostname].ansible_mounts %}
# bootstrap mount: {{ mount.device }} {{ mount.fstype }} {{ mount.mount }} {{ mount.options }}
{% endfor %}
# bootstrap selinux: {{ hostvars[inventory_hostname].ansible_selinux.status }}
# bootstrap SSH host key DSA public: {{ hostvars[inventory_hostname].ansible_ssh_host_key_dsa_public }}
# bootstrap SSH host key RSA public: {{ hostvars[inventory_hostname].ansible_ssh_host_key_rsa_public }}

#
# Additional single IPs and their MAC addresses
# allocated to a Hetzner dedicated root server for use with virtualization.
# These are collected automatically during the provision of new hypervisors
# or can be configured manually later.
#
hetzner_single_ips:
#  - { 'ip': '203.0.113.24', mac: '00:53:56:00:4A:C5' }

#
# roles/backup_client
#
backup_onsite_protocol: sftp
#backup_onsite_service: u?????.your-backup.de
#backup_onsite_account: u?????
