# file: host_vars/{{ item }}
#
# bootstrap handover timestamp: {{ ansible_date_time.iso8601 }}
# bootstrap description: {{ hostvars[item].guest_description }}
# bootstrap volume group name: {{ hostvars[item].guest_vg_name }}
# bootstrap OS variant: {{ hostvars[item].guest_os_variant }}
# bootstrap memory: {{ hostvars[item].guest_ram }} MB
# bootstrap processor: {{ hostvars[item].guest_vcpus }} vCPUs
# bootstrap CentOS repository: {{ centos_repo_url }}
# bootstrap language: {{ hostvars[item].guest_lang }}
# bootstrap keyboard: {{ hostvars[item].guest_keyboard }}
# bootstrap timezone: {{ hostvars[item].guest_timezone }}
---
