# file: hetzner_server_market_{{ current_date_time }}_comparison.yaml
---

date_time: {{ current_date_time }}

server_market:
{{ hetzner_robot.server_market | to_nice_yaml(indent=2) | indent(2, true) }}

server_market_value:
{{ server_market_value | to_nice_yaml(indent=2) | indent(2, true) }}

server_market_analysis:
{% for item in hetzner_robot.server_market_analysis | list %}

- product:
    benefit_cost_ratio: {{ ( (
        item.product.value.cpu|float
      + item.product.value.psu|float
      + item.product.value.hwr|float
      + item.product.value.ram|float
      + item.product.value.hdd_sata|float
      + item.product.value.hdd_sas|float
      + item.product.value.ssd_sata|float
      + item.product.value.traffic|float
      + item.product.value.nic|float
      ) / item.product.price ) | float | round(2)
    }}

{{ item.product | to_nice_yaml(indent=2) | indent(4, true) }}

    storage_total: {{ item.product.hdd_sata_total|float
      + item.product.hdd_sas_total|float
      + item.product.ssd_sata_total|float }}

    value_total: {{ (
        item.product.value.cpu|float
      + item.product.value.psu|float
      + item.product.value.hwr|float
      + item.product.value.ram|float
      + item.product.value.hdd_sata|float
      + item.product.value.hdd_sas|float
      + item.product.value.ssd_sata|float
      + item.product.value.traffic|float
      + item.product.value.nic|float
      ) | float | round(2)
    }}
{% endfor %}
