<!DOCTYPE html>
<html>
<head>
<title>Server market evaluation</title>
<style>
tr:nth-child(even) { background: #EEE }
tr:nth-child(odd) { background: #FFF }
td { vertical-align: top; }
</style>
</head>

<body>
<h1>Hetzner server market</h1>
<h2>{{ current_date_time }}</h2>

<pre>
server_market:
{{ server_market | to_nice_yaml(indent=2) | indent(2, true) }}

server_market_per_euro:
{{ server_market_per_euro | to_nice_yaml(indent=2) | indent(2, true) }}

server_market_factor:
{{ server_market_factor | to_nice_yaml(indent=2) | indent(2, true) }}
</pre>

<table style="width:100%;">

<tr>
<th>BCR</th>
<th>DC</th>
<th style="text-align:left;">Product</th>
<th style="text-align:left;">ID</th>
<th>CPU-B</th>
<th>RAM</th>
<th>Storage</th>
<th>Drives</th>
<th>PSU</th>
<th style="text-align:left;">CPU</th>
<th>Memory Modules</th>
<th style="text-align:left;">HDD SATA</th>
<th style="text-align:left;">HDD SAS</th>
<th style="text-align:left;">SSD</th>
<th style="text-align:left;">HWR</th>
<th style="text-align:left;">NIC</th>
<th>Traffic</th>
<th>Network</th>
<th style="text-align:left;">Misc.</th>
<th style="text-align:left;">Text</th>
<th>Evaluation</th>
<th>Price</th>
</tr>

{% for item in hetzner_market_evaluation | list %}
<tr>
<td style="text-align:right;">{{ item.ansible_facts.benefit_cost_ratio }}</td>
<td>{{ item.item.product.datacenter }}</td>
<td>{{ item.item.product.name }}</td>
<td>{{ item.item.product.id }}</td>
<td style="text-align:right;">{{ item.item.product.cpu_benchmark }}</td>
<td style="text-align:right;">{{ item.item.product.memory_size }} GB</td>
<td style="text-align:right;">{{ (item.item.product.hdd_count * item.item.product.hdd_size|float / 1024.0) | round(2) }} TB</td>
<td>{{ item.item.product.hdd_count }}&nbsp;&times;&nbsp;{{ item.item.product.hdd_size }}&nbsp;GB</td>
<td>{{ "Red.PS" if "Red.PS" in item.item.product.cpu else "" }}</td>
<td>{{ item.item.product.cpu | regex_replace(' - Red.PS', '') }}</td>
<td style="text-align:right;">{{ item.item.product.description
| select("search", "RAM")| list | join(" &middot; ") | regex_replace("RAM", "") | regex_replace(" MB", "&nbsp;MB") }}</td>
<td>{{ item.item.product.description | select("search", "HDD") | select("search", "SATA") | list | join(" &middot; ") | regex_replace("(HDD|SATA)", "") | regex_replace(",", ".") }}</td>
<td>{{ item.item.product.description | select("search", "HDD") | select("search", "SAS") | list | join(" &middot; ") | regex_replace("(HDD|SAS)", "") }}</td>
<td>{{ item.item.product.description | select("search", "SSD") | list | join(" &middot; ") | regex_replace("SSD SATA", "") }}</td>
<td>{{ item.item.product.description | select("search", "RAID") | list | join(" &middot; ") | regex_replace("RAID Controller", "") }}</td>
<td>{{ item.item.product.description | select("search", "NIC") | list | join(" &middot; ") | regex_replace("NIC", "") }}</td>
<td style="text-align:right;">{{ item.item.product.traffic }}</td>
<td>{{ item.item.product.network_speed }}</td>
<td>{{ item.item.product.description
| reject("search", item.item.product.cpu)
| reject("search", "RAM")
| reject("search", "HDD SATA")
| reject("search", "HDD SAS")
| reject("search", "SSD")
| reject("search", "RAID")
| reject("search", "Redundante Stromversorgung")
| reject("search", "NIC")
| join(" &middot; ") }}</td>
<td>{{ item.item.product.hdd_text }}</td>
<td style="text-align:right;">{{ item.ansible_facts.value }}</td>
<td style="text-align:right;">{{ item.item.product.price | float | round(2) }}{% if (item.item.product.price_setup | float) > 0.0 %}
(+ setup {{ item.item.product.price_setup | float | round(2) }}){% endif %}</td>
</tr>

{% endfor %}
</table>

</body></html>
