<!DOCTYPE html>
<html>
<head>
<title>Server market evaluation</title>
<style>
tr:nth-child(even) { background: #EEE }
tr:nth-child(odd) { background: #FFF }
td { vertical-align: top; }
</style>
</head>

<body>
<h1>Hetzner server market</h1>
<h2>{{ current_date_time }}</h2>

<pre>
server_market:
{{ server_market | to_nice_yaml(indent=2) | indent(2, true) }}

server_market_value:
{{ server_market_value | to_nice_yaml(indent=2) | indent(2, true) }}
</pre>

<table style="width:100%;">

<tr>
<th>BCR</th>
<th>DC</th>
<th style="text-align:left;">Product</th>
<th style="text-align:left;">ID</th>
<th>CPU-B</th>
<th>RAM</th>
<th>Storage</th>
<th>PSU</th>
<th style="text-align:left;">CPU</th>
<th>Memory Modules</th>

<th style="text-align:right;">&times;</th>
<th style="text-align:right;">Size</th>
<th style="text-align:left;">HDD</th>
<th style="text-align:left;">SATA</th>

<th style="text-align:right;">&times;</th>
<th style="text-align:right;">Size</th>
<th style="text-align:left;">HDD</th>
<th style="text-align:left;">SAS</th>

<th style="text-align:right;">&times;</th>
<th style="text-align:right;">Size</th>
<th style="text-align:left;">SSD</th>
<th style="text-align:left;"></th>

<th style="text-align:left;">HWR</th>
<th style="text-align:left;">NIC</th>
<th>Traffic</th>
<th>Network</th>
<th style="text-align:left;">Misc.</th>
<th style="text-align:left;">Text</th>

<th>CPU</th>
<th>PSU</th>
<th>HWR</th>
<th>RAM</th>
<th>SATA</th>
<th>SAS</th>
<th>SSD</th>
<th>Traffic</th>
<th>NIC</th>

<th>Value Total</th>
<th>Price</th>
</tr>

{% for item in hetzner_market_evaluation | list %}
<tr>
<td style="text-align:right;">{{ item.product.benefit_cost_ratio | float | round(2) }}</td>
<td>{{ item.product.datacenter }}</td>
<td>{{ item.product.name }}</td>
<td>{{ item.product.id }}</td>
<td style="text-align:right;">{{ item.product.cpu_benchmark }}</td>
<td style="text-align:right;">{{ item.product.memory_total | round(2) }} GB</td>
<td style="text-align:right;">{{ (item.product.storage_total / 1024.0) | float | round(2) }} TB</td>
<td>{{ "Red.PS" if "Red.PS" in item.product.psu else "" }}</td>
<td>{{ item.product.cpu }}</td>
<td style="text-align:right;">{{ item.product.memory_modules
| select("search", "RAM") | list | join(" &middot; ") | regex_replace("RAM", "") | regex_replace(" MB", "&nbsp;MB") }}</td>

<td>{{ item.product.hdd_sata_counts | join("<br></br>") }}</td>
<td>{{ item.product.hdd_sata_sizes | join("<br></br>") }}</td>
<td>{{ item.product.hdd_sata_units | join("<br></br>") }}</td>
<td>{{ item.product.hdd_sata_types | join("<br></br>") }}</td>

<td>{{ item.product.hdd_sas_counts | join("<br></br>") }}</td>
<td>{{ item.product.hdd_sas_sizes | join("<br></br>") }}</td>
<td>{{ item.product.hdd_sas_units | join("<br></br>") }}</td>
<td>{{ item.product.hdd_sas_types | join("<br></br>") }}</td>

<td>{{ item.product.ssd_sata_counts | join("<br></br>") }}</td>
<td>{{ item.product.ssd_sata_sizes | join("<br></br>") }}</td>
<td>{{ item.product.ssd_sata_units | join("<br></br>") }}</td>
<td>{{ item.product.ssd_sata_types | join("<br></br>") }}</td>

<td>{{ item.product.raid_controllers | join("<br></br>") }}</td>

<td>{{ item.product.nics | join("<br></br>") }}</td>
<td style="text-align:right;">{{ item.product.traffic }}</td>
<td>{{ item.product.network_speed }}</td>

<td>{{ item.product.misc | join("<br></br>") }}</td>
<td>{{ item.product.text }}</td>

<td style="text-align:right;">{{ item.product.value.cpu | float | round(2) }}</td>
<td style="text-align:right;">{{ item.product.value.psu | float | round(2) }}</td>
<td style="text-align:right;">{{ item.product.value.hwr | float | round(2) }}</td>
<td style="text-align:right;">{{ item.product.value.ram | float | round(2) }}</td>
<td style="text-align:right;">{{ item.product.value.hdd_sata | float | round(2) }}</td>
<td style="text-align:right;">{{ item.product.value.hdd_sas | float | round(2) }}</td>
<td style="text-align:right;">{{ item.product.value.ssd_sata | float | round(2) }}</td>
<td style="text-align:right;">{{ item.product.value.traffic | float | round(2) }}</td>
<td style="text-align:right;">{{ item.product.value.nic | float | round(2) }}</td>

<td style="text-align:right; font-weight: bold;">{{ item.product.value_total | float | round(2) }}</td>
<td style="text-align:right;">{{ item.product.price | float | round(2) }}{% if (item.product.price_setup | float) > 0.0 %}
(+ setup {{ item.product.price_setup | float | round(2) }}){% endif %}</td>
</tr>

{% endfor %}
</table>

</body></html>
