#!/bin/bash
#
# CentOS 7 libvirt guest installation {{ ansible_date_time.iso8601 }}
#

sudo virsh -q dominfo "{{ item }}" >/dev/null 2>&1 && {
    >&2 echo "Domain {{ item }} already exists."
    exit 1
}

KS=guest_{{ item }}-ks.cfg

# Tested on CentOS 7 hypervisors
virt-install --connect=qemu:///system \
--network network=default,mac=RANDOM,model=virtio \
--initrd-inject ~/kickstart/$KS \
--extra-args="ks=file:/$KS console=tty0 console=xvc0,115200n8" \
--name={{ item }} \
--description="{{ hostvars[item].guest_description }}" \
{% for disk in hostvars[item].guest_disks %}
--disk path={{ disk.path }},size={{ disk.size }},bus=virtio,sparse=false,cache={{ disk.cache | default('none') }} \
{% endfor %}
--ram={{ hostvars[item].guest_ram }} \
--vcpus={{ hostvars[item].guest_vcpus }} \
--check-cpu \
--accelerate \
--virt-type=kvm \
--arch=x86_64 \
--os-type=linux \
--os-variant={{ hostvars[item].guest_os_variant }} \
--location={{ centos_repo_url }} \
--graphics=spice \
--noautoconsole
