# CentOS 7 KVM guest kickstart configuration

#
# Do not use the same password elsewhere.
# Change it at first boot inside a private network.
#
rootpw --iscrypted {{ guest_rootpw_sha512 | mandatory }}
authconfig --enableshadow --passalgo=sha512

# Create the admin SSH account
user --name={{ hostvars[item].admin_username | mandatory }} --gecos="{{ admin_fullname }}" --groups=wheel --shell=/bin/bash

cmdline
skipx
install
reboot
firstboot --disable

lang {{ hostvars[item].guest_lang | default('en_US.UTF-8') }}
keyboard {{ hostvars[item].guest_keyboard | mandatory }}
timezone {{ hostvars[item].guest_timezone | default('--utc') }}

ignoredisk --only-use=vda
zerombr
clearpart --all --drives=vda --initlabel
bootloader --location=mbr --driveorder=vda

#
# Partitioning plan for 12+ G
#
part /boot --fstype="ext4" --size=512 --maxsize=512 --ondisk=vda
part pv.1 --size=11264 --grow --ondisk=vda
volgroup vg_{{ hostvars[item].guest_vg_name | mandatory }} pv.1
logvol / --fstype="ext4" --size=4096 --maxsize=8192 --name=lv_{{ hostvars[item].guest_vg_name }}_root --vgname=vg_{{ hostvars[item].guest_vg_name }}
logvol /var --fstype="ext4" --size=3072 --maxsize=4096 --name=lv_{{ hostvars[item].guest_vg_name }}_var --vgname=vg_{{ hostvars[item].guest_vg_name }}
logvol swap --fstype="swap" --size=4096 --maxsize=4096 --name=lv_{{ hostvars[item].guest_vg_name }}_swap --vgname=vg_{{ hostvars[item].guest_vg_name }}

#
# Networks
#
network --device=eth0 --bootproto=dhcp --onboot=on --hostname={{ item }}

firewall --enable --service=ssh --port {{ hostvars[item].admin_ssh_port | mandatory }}:tcp
services --enabled=sshd,ntpd,acpid
selinux --enforcing

url --url {{ hostvars[item].centos_repo_url | mandatory }}
repo --name="CentOS" --baseurl={{ hostvars[item].centos_repo_url }} --cost=100

%packages --nobase --excludedocs
@core
@security-tools
@web-server
acpid
audit
bind-utils
coreutils
crypto-utils
cryptsetup-luks
dhclient
e2fsprogs
git
gnupg
iptraf
libselinux-python
lvm2
mtr
nano
net-tools
ntp
openssh-clients
openssh-server
openssl
policycoreutils-python
procps
python-setuptools
rpm
screen
strace
sudo
sysstat
tcpdump
vim
wget
yum
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-cronie
-cronie-anacron
-crontabs
-cups
-cyrus-sasl
-info
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-libertas-usb8388-firmware
-mysql-libs
-postfix
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-sendmail
-webalizer
-xorg-x11-drv-ati-firmware
-yum-cron
-yum-utils
-zd1211-firmware
%end

%post --nochroot

cp /etc/resolv.conf /mnt/sysimage/etc/resolv.conf

%end

%post --log=/root/post-log

echo "{{ item }} kickstart configured" >> /etc/motd
date -u +"%FT%TZ %G-W%V-%u %A %y-%j" >> /etc/motd

echo "Installing the Extra Packages for Enterprise Linux (EPEL) repository."
rpm -Uvh {{ hostvars[item].epel_rpm_url | mandatory }}

# Authorize SSH keys
cd /home/{{ admin_username | mandatory }}
mkdir --mode=700 .ssh
ssh-keygen -q -N "" -t rsa -f .ssh/id_rsa -C "{{ admin_username }}@{{ ansible_fqdn }}-{{ ansible_date_time.iso8601 }}"
cat >> .ssh/authorized_keys << "PUBLIC"
{% for authorized_key in hostvars[item].admin_authorized_keys %}
{{ authorized_key }}
{% endfor %}
PUBLIC
chown -R {{ admin_username }}:{{ admin_username }} .ssh
chmod 600 .ssh/authorized_keys
restorecon -R .ssh/

# Configure Git
cat >> .gitconfig << "GITCONFIG"
[user]
        name = {{ admin_fullname | mandatory }}
        email = {{ admin_email | mandatory }}
[push]
        default = simple
GITCONFIG
chown {{ admin_username }}:{{ admin_username }} .gitconfig
chmod 664 .gitconfig

# sed 4.2.1 preserves SELinux security contexts:
# http://freecode.com/projects/sed/releases/301607

# Configure sudoers
sed -i 's/^%wheel[ \t]\+ALL=(ALL).*$/%wheel ALL=(ALL) NOPASSWD:ALL/g'\
 /etc/sudoers

# Disallow root SSH access
sed -i 's/^#\?PermitRootLogin[ \t]\+yes.*$/PermitRootLogin no/g'\
 /etc/ssh/sshd_config

# Disallow password authentication
sed -i 's/^PasswordAuthentication[ \t]\+yes.*$/PasswordAuthentication no/g'\
 /etc/ssh/sshd_config

# Configure SELinux to allow SSH on the administrative SSH port
semanage port -a -t ssh_port_t -p tcp {{ hostvars[item].admin_ssh_port }}

# Set SSH port
sed -i 's/^#\?Port[ \t]\+22/Port {{ hostvars[item].admin_ssh_port }}/g'\
 /etc/ssh/sshd_config

yum -y update

%end
