<pool type='logical'>
  <name>{{ vg_pool_name }}</name>
  <source>
    <name>{{ vg_pool_name }}</name>
    <format type='lvm2'/>
  </source>
  <target>
    <path>/dev/{{ vg_pool_name }}</path>
  </target>
</pool>
