# /etc/sysconfig/network-scripts/ifcfg-br0 (point-to-point, Hetzner Online)
DEVICE=br0
TYPE="Bridge"
BOOTPROTO=static
IPADDR={{ ansible_default_ipv4.address }}
NETMASK={{ ansible_default_ipv4.netmask }}
SCOPE="peer {{ ansible_default_ipv4.gateway }}"
ONBOOT=yes
NM_CONTROLLED=no
DELAY=0
ZONE={{ firewall_zone }}
