#
# Please refer to Hetzner Online's provided documentation
# for the latest information.
#
DEVICE=eth0
BOOTPROTO=none
ONBOOT=yes
NM_CONTROLLED=no
HWADDR={{ ansible_eth0.macaddress }}
BRIDGE=br0
#IPADDR={{ ansible_eth0.ipv4.address }}
#NETMASK={{ ansible_eth0.ipv4.netmask }}
#SCOPE="peer {{ ansible_default_ipv4.gateway }}"
IPV6INIT=yes
IPV6ADDR={{ ansible_default_ipv6.address }}/{{ ansible_default_ipv6.prefix }}
IPV6_DEFAULTGW={{ ansible_default_ipv6.gateway }}
IPV6_DEFAULTDEV={{ ansible_default_ipv6.interface }}
