# /etc/sysconfig/network-scripts/ifcfg-br0 (point-to-point, Hetzner Online)
DEVICE=br0
TYPE="Bridge"
BOOTPROTO=static
IPADDR={{ ansible_default_ipv4.address | mandatory }}
NETMASK={{ ansible_default_ipv4.netmask | mandatory }}
SCOPE="peer {{ ansible_default_ipv4.gateway | mandatory }}"
ONBOOT=yes
DELAY=0
ZONE={{ firewall_zone | mandatory }}