#!/usr/bin/env bash

if [[ $USER -ne {{ admin_username | mandatory }} ]]; then
   echo "This script must be run as {{ admin_username }}" 
   exit 1
fi

cd /home/{{ admin_username }}/bastion_ansible

ansible-playbook -v bastion.yml -i /home/{{ admin_username }}/{{ bastion_inventory_repo_name | mandatory }}/hosts
