# file: host_vars/guest.host.example.com
#
# The guest subdomains are assumed to be a local naming policy on the
# hypervisor host. Guest names are not registered in DNS, but only
# configured for local name resolution on the hypervisor.
#
---

#
# roles/libvirt_guests_centos
#

guest_description: example guest virtual machine
guest_vg_name: guest
guest_ram: 1536
guest_vcpus: 2
guest_os_variant: rhel7

guest_lang: en_US.UTF-8
#guest_keyboard: fi-latin1
guest_keyboard: us
#guest_timezone: --utc Europe/Helsinki
guest_timezone: --utc America/New York

#
# roles/ansible_inventory
#

# Name of the inventory file inside the main repository
target_ansible_inventory: staging

# Name of the inventory group where to add the new guest
target_ansible_group: libvirt_guests_host.example.com
